@model Contacts.Models.Contact

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
<div>
    <h1>Edit Contact</h1>
    <h3>@Html.ActionLink("Back to List", "Index", "Home")</h3>

    @using (Html.BeginForm("EditContact", "Home", FormMethod.Post))
    {
        @Html.HiddenFor(m=>m.ContactID)
        <p>
            @Html.Label("Name")
            @Html.TextBoxFor(m=>m.Name)
        </p>
        <p>
            @Html.Label("Phone")
            @Html.TextBoxFor(m=>m.PhoneNumber)
        </p>
        <button>Save</button>
    }
</div>
</body>
</html>
