@model List<Contacts.Models.Contact>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<div>
    <h1>My Contacts</h1>
    <h3>@Html.ActionLink("Add a new contact", "Add", "Home")</h3>
    @if (Model.Any())
    {
        <table>
            <thead>
            </thead>
            <tbody>
            @foreach (var contact in Model)
            {
                <tr>
                    <td>@contact.Name</td>
                    <td>@contact.PhoneNumber</td>
                    <td>@Html.ActionLink("Edit", "Edit", "Home", new {id = @contact.ContactID}, null)</td>
                    <td>
                        @using (Html.BeginForm("DeleteContact", "Home", FormMethod.Post))
                        {
                           @Html.HiddenFor(c=>contact.ContactID)
                           <button>Delete</button>
                        }

                    </td>

                </tr>
            }
            </tbody>
        </table>
    }
    else
    {
        <p>You have no Contacts, how sad!</p>
    }
</div>
</body>
</html>
